.Dbtn{
    width: 98px;
    height: 36px;
    border: 1px solid #31609A;
    background: #FFFFFF;
    border-radius: 8px;
    color: #31609A;
    font-size: 12px;
    font-weight: 600;
}

.modalContent{
    width: 100%;
    height: auto;
    margin-top: 150px;
}
.modalBody{
    display: flex;
    justify-content: center;
    align-content: center;
}

.modalBody > h6 {
    height: auto;
    width: 100%;
    text-align: center;
}