main> {
    padding-right: 30px;
    background-color: yellow;
}

.NavWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 308px;
    height: 36px;
    
}

.navContainer, .active{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border: none;
}

.navContainer{
    
    color: #505050;
    width: 81px; 
    background-color: transparent;
    
}

.active{
    
    color: #FFFFFF;
    width: 95px;
    background-color: #436DA2;
    border-radius: 8px;
   
}

.DataHeader, .block70{
    display: grid;
    grid-template-columns: 80px 260px 86px 100px 272px 180px;
    justify-content: space-between;
    align-items: center;
}

.DataHeader{
    
    height: 40px; 
    color: #FFFFFF; 
    padding: 10px;
    font-size: 12px;
    background: #31609A; 
    border-radius: 8px;
    font-weight: 600;
    margin-bottom: 15px; 
    

}

.DataHeader div:nth-child(1){
    display: grid;
    grid-template-columns: 6px 1fr;
    grid-column-gap: 8px;
    align-items: center;
    
}



.DataHeader div:nth-child(6){

    display: grid;
    grid-template-columns: 6px 1fr;
    grid-column-gap: 8px;
    align-items: center;
    
    

}

.block70{
    
    height: 40px;
    color: #505050;
    font-size: 14px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 8px;
    font-size: 14px; 
    font-weight: 400;
    /* margin-top: 20px; */

}

.block71{

     
   
    display: flex;
    align-items: center;

}

.pageScroll{
    height: 53.6vh;
}

.verticalScroll{
    height: 40vh;
    margin-bottom: 50px;
}


.paginationContainer{
    display: flex;
    justify-content: end;
}

.ActivePagination{

    background: #31609A;
    color:#FFFFFF; 
}

.nonActivePagination{
    opacity: 0.15; 
    color: #505050;
    background: #505050; 
}

.block72{

    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-left: 3px;

   
    
}
.block73,.block74,.block75{
  
    display: grid;
    align-items: center;
    color: #ffffff; 
    font-weight: 500; 
    font-size: 10px;
    border-radius: 11px;
    
    
    
    

}
.block73{

    background:  #FFA349;
    width: 66px;
    
    
}

.block74{
    
    background: #EA523D;
    width: 57px;
    
}

.block75{
    background: #31d067;
    width: 66px;
     
   
     
}

.block76{

    height: 9px;
    display: flex;
    align-items: center; 

} 
.block77{

    display: flex;
    align-items: center;
    height: 22px;
    width: 30px;

} 



.block78{

    background-color: #31609a; 
    color: #ffffff; 
    font-size: 12px; 
    font-weight: 700; 
    width: 56px;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    border: #31609A;

}


/*project-details component*/

.headerDiv{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backContentWrapper{
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
}

.headersButtonWraper{
    width: 280px;
    height: 40px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.backTextWrapper{
    width: 100%;
    height: 72px;
}

.backTextWrapper > p{
  width: 99px;
  height: 18px;
  font-size: 12px;
  font-weight: 500;
  color: #31609A;
}

.backTextWrapper > h6{
  font-size: 24px;
  font-weight: 700;
  width: 540px;
  height: 54px;
  color: #2A3D64;
  margin-top: -16px;
}

.contentWrapper{
    display:grid;
    grid-template-columns: 270px 1fr;
    grid-column-gap: 20px;
    margin-top: 20px;

}

.profileImageWrapper{
    display: flex;
    flex-direction: column;
    border-radius:8px;
    align-items: center;
    justify-content: center;
    width: 270px; 
    height: 290px; 
    background-color: #31609A; font-weight: 700
}

.profileImageWrapper > img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

.profileImageWrapper h6 {
    color: #FFFFFF;
    font-size: 18px;
    margin: 20px 0px;
    width: 155px;
    height: 48px;
    text-align: center;
}

.profileImageWrapper button {
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    width: 93px;
    font-size: 12px;
    height: 28px;
    opacity: 0.9;
   
}

.projectDetailsContent{
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 50px;
}

.ProjectDetailNavbarWrapper{
    display: grid;
    grid-template-columns: 66px 96px 111px 66px;
    grid-column-gap: 10px;
    align-items: center;
    background-color: #FFFFFF;
    height: 46px; 
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding-left: 15px;
}

.notActiveProjectDetailNavbar, .activeProjectDetailNavbar {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeProjectDetailNavbar{ 
    background-color: #436DA2;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
}

.notActiveProjectDetailNavbar{
    width: 100%;
    height: 36px;
    color: #505050; 
    opacity: 50%;
}

.notActiveProjectDetailNavbar:hover, .activeProjectDetailNavbar:hover {
    color: #436DA2;
    background-color: #FFFFFF;
    border: 1px solid #436DA2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*milestones*/

.mileStonethead, .mileStonetbody{
    display: grid;
    grid-template-columns: 21px 372px 81px 85px 37px 1fr;
    grid-column-gap: 10px;
    align-items: center;
    border-radius: 8px;

    font-size: 12px; 
    font-weight: 600;
    padding: 0px 10px;
    height: 40px;
    margin-top: 10px;
}



/* unique stylings btw milestone and issues */

.mileStonethead div:last-child, .issuesthead div:last-child{
    display: grid;
    grid-template-columns: 14px 1fr;
    align-items: center;
}

.mileStonethead, .issuesthead{

    background-color: #31609A;
    color: #FFFFFF;
    
    
}

.mileStonetbody, .issuestbody{
    background-color: #ffffff;
    color: #505050;
    height: auto;

}

.mileStonetbody div:last-child, .issuestbody div:last-child{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-column-gap: 25px;
    align-items: center;
    height: 40px;
    padding-left: 5px;
    
}



/* issues */

.issuesthead, .issuestbody{
    display: grid;
    grid-template-columns: 382px 86px 79px 57px 1fr;
    grid-column-gap: 10px;
    align-items: center;
    border-radius: 8px;

    font-size: 12px; 
    font-weight: 600;
    padding: 0px 10px;
    height: 40px;
    margin-top: 10px;
}

/* attachment */

.attachmenttbody{
    display: grid;
    grid-template-columns: 1fr 56px 84px;
    grid-column-gap: 10px;

    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 0px 10px;
    height: 60px;
    margin-top: 10px;
    color: #505050; 
    font-weight: 400; 
    font-size: 14px;

}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 0px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(161, 158, 158); 
    border-radius: 5px;
}

.viewbutton{
  background-color: #31609a;
  color: #ffffff; 
  font-size: 12px;
  font-weight: 700; 
  width: '56px';
  border-radius: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border: #31609A;
}

@media (max-width:600px) {

    .projectIndexContainer{
        background-color: red;
        padding-right: 5px;
        height: 70vh;
        overflow-y: scroll;
   }

    .block70, .DataHeader, .projectIndexContainer > div:nth-child(2) > div:nth-child(1){
        display: none;
    }

    .projectIndexContainer > div:nth-child(2){
        height: auto;
       
        
    }

    .pageScroll{
        height: auto;
        margin-top: 20px;
    }

    .verticalScroll{
        height: auto;
        margin-bottom: 20px;
    }

    .ProjectDetailNavbarWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-columns: 66px 96px 111px 66px; */

    }

    /* detailsIndex */

    .projectDetailsContent{
       height: auto;
    }

    .ProjectDetailsIndexContainer{
        overflow-y: scroll;
        height: 70vh;
        padding-right: 5px;
        /* width: 100%; */
    }

    .contentWrapper{
       height: 56vh;
    }

   
    .profileImageWrapper{
        width: 100%;
        margin-bottom: 15px;
    }

    .contentWrapper, .headerDiv{
        display: block;
    }

    .headerDiv{
        height: auto;
        width: 100%;
    }

    .backTextWrapper > h6{
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        
    }

    .headersButtonWraper{
        margin-left: 0px;
        width: 100%;
        /* margin-top: 10px; */
    }
}








