.newEvaluation2Wrapper{
    width: 100%;
    max-height: 420px;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 25px 15px 40px 15px ;
}
.newEvaluation3Wrapper{
    width: 100%;
    max-height: 320px;
    overflow-y: scroll;
}

.fielderror{
    color: red;
    font-size: 14px;
    font-weight: 700;
    /* margin-bottom: 5px; */
}

header, .details > div:nth-child(1) {
    width: 100%;
    height: 50px;
    margin-top: 13px;
    margin-bottom: 10px;
}

header, header > div:nth-child(2)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > div:nth-child(1), .details > div:nth-child(1) div {
    font-weight: 700;
    font-size: 24px;
    color: #2A3D64;
}

header > div:nth-child(2) {
    width: 174px;
    height: 50px;
}

header > div:nth-child(2) button:nth-child(1) {
    width: 78px;
    
    border: 1px solid #31609A;
    color: #31609A;
}

header > div:nth-child(2) button:nth-child(1), header > div:nth-child(2) button:nth-child(2) {
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}

header > div:nth-child(2) button:nth-child(2), .details > div:nth-child(1) button {
  width: 86px;
  background-color: #31609A;
  color: #FFFFFF;
  border: none;
}

.formContainer{
    margin-top: 60px;
}

.formContainer > div:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    color: #505050;
}

.RinputContainer, .NinputType, .NinputType2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
}
.RinputContainer > main {
    display: grid;
    
    grid-template-rows: 1fr;
}

.RinputWrapper{
    display: grid;
    grid-template-columns: 424px 16px 16px;
    align-items: center;
    grid-column-gap: 10px;
    
}

.RinputWrapper > div,
.NinputType > div > div div,
.NinputType2 > div div,
.facilitiesWrapper > div:nth-child(1),.detailsWrapper > div:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    color: #505050;
}

.NinputType >div div{
    display: grid;
    grid-template-columns: 267px 131px;
    justify-content: space-between;
    align-items: center;
}

.NinputType > div div:nth-child(2){
    width: 131px;
}

.NinputType > div div div:nth-child(2),
.fieldWrapper > div div,
.facilitiesWrapper > div:nth-child(2) div,
.facilitiesWrapper > div:nth-child(3) div,
.facilitiesWrapper > div:nth-child(4) div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    background-color: #F3F4F5;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    /* padding: 20px; */
}

.NinputType > div div:nth-child(2) input {
    width: 99px;
    height: 19px;
}

.NinputType2 > div{
    display: grid;
    grid-template-columns: 283px 188px;
    grid-column-gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.fieldWrapper, .detailsLabel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.fieldWrapper >div label,
.facilitiesWrapper > div:nth-child(2) label,
.facilitiesWrapper > div:nth-child(3) label,
.facilitiesWrapper > div:nth-child(4) label {
    font-size: 14px;
    font-weight: 700;
    color: #505050;
}

.fieldWrapper > div div input,
.facilitiesWrapper > div:nth-child(2) div input,
.facilitiesWrapper > div:nth-child(3) div input,
.facilitiesWrapper > div:nth-child(4) div input {
   width: 53px;
   height: 19px;
}

.fieldWrapper > div div input::placeholder,
.facilitiesWrapper > div:nth-child(2) div input::placeholder,
.facilitiesWrapper > div:nth-child(3) div input::placeholder,
.facilitiesWrapper > div:nth-child(4) div input::placeholder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    padding-left: 40px;
}

.facilitiesWrapper, .detailsWrapper{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 79px 79px 79px;
    align-items: center;
    grid-column-gap: 10px;
    margin-bottom: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    display: none;
    margin: 0;
}

/* evaluation details */

.details > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details > div:nth-child(1) button{
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
}

.yesDiv,.noDiv {
    width: 75px;
    height: 42px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.yesDiv{
    background-color: #31D067;
}

.noDiv{
    background-color: #EA523D;
}

.detailsLabel > div span, .detailsWrapper > div:nth-child(2) span, 
.detailsWrapper > div:nth-child(3) span,
.detailsWrapper > div:nth-child(4) span{
    width: 79px;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #505050;

}

.detailsLabel >div label,
.detailsWrapper > div:nth-child(2) label,
.detailsWrapper > div:nth-child(3) label,
.detailsWrapper > div:nth-child(4) label{
    font-size: 14px;
    font-weight: 700;
    opacity: 30%;
    color: #505050;
}


