.newEvaluationConttainer > div:nth-child(1) {
    width: 169px;
    height: 21px;
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
    color: #2A3D64;

}

.newEvaluationConttainer > div:nth-child(3) {
    width: 100%;
    height: 372px;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 4px 7px 0px #00000008;
}

.relativePosition{
    margin-top: 20px;
    position: relative;
    z-index: 20;
}

.absolutePosition{
    position: absolute;
    display: flex;
    width: 100%;  
}


.absolutePosition2 {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    border-top-color: transparent;
    border-bottom: none; 
    box-shadow: 0px 0px 17px 0px #505050;
    width: 100%;
    height: auto;
    padding: 20px;
    
    
}

.absolutePosition2 > div{
    overflow-y: scroll;
    height: 35vh;
    font-size: 16px;
    font-weight: 700;
    color: #505050;
    line-height: 16px;
}

.absolutePosition2 > div div{
    margin-bottom: 8px;
}

.hideAbsolutePosition2{
    display: none;
}

.formWrapper > label {
 width: 170px;
 height: 12px;
 font-size: 12px;
 font-weight: 700;
 color: #505050;
}

.formWrapper > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #F3F4F5;
    border: 1px solid #DCDCDC;
}

.formWrapper > div div {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 5px;
    width: 100%;
    margin-right: 10px;
}

.formWrapper > div div input {
    height: 19px;
    width: 100%;
}

.formWrapper .searchIcon {
    margin-right: 7px;
    color: #A8A8A8;
}

.formWrapper .dropDownIcon {
    color: #505050;
}

.cancelBtn {
    width: 78px;
    background-color: #FFFFFF;
    border: 1px solid #31609A;
    color: #31609A;
    margin-right: 5px;
}

.cancelBtn, .proceedBtn {
    font-size: 12px;
    font-weight: 600;
    height: 36px;
    border-radius: 8px;

}

.proceedBtn{
    width: 85px;
    background-color: #31609A;
    color: #FFFFFF;
    border: none;
}